// Navigation code here
.nav-header {
  .disFlex();
  .flexDirect(column);
  width: 100%;
  margin: 0 auto;
  background-color: @footer-background;


  h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 1.5rem;
  }

  nav{
    .disFlex();
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 1.25rem;
    margin-top: 1.75rem;

    a {
      text-decoration: none;
      color: black;
      font-size: 1.50rem;
    }
  }
}

